In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from astropy import units as u
from astropy import constants as const


df = pd.read_csv("../../course_assignments/homework9/solar_system.csv")

print(df.shape)
df = df.set_index("Attribute").T
df.index.name = "Planet"
df.reset_index(inplace = True)
df.columns.name = None

print(df.shape)
# Before the transposing, there are 20 rows and 11 columns. After transposing, there are 10 rows and 21 columns.

# The '.set_index("Attribute").T' command causes the column of "Attribute" to be turned into the new index column, as well as 
# transpose the data frame. This means that the rows of the original data frame become the columns of the new data frame, and the columns of the original data frame
# become the rows of the new data frame. By transposing the data frame, "Attribute" no longer becomes the index column, but more like an index row.

# The '.index.name' command creates a new label "Planet" above the names of the planets. This completes the index column for the planets since
# the label "Attributes" became the start of the index row for the attributes of each planet.

# The '.reset_index' command resets the data frame on a numerical index system, starting from 0 and going to 19. The "Attribute" label gets reset above the numerical index column, and the planet column stays in place.

# The command '.columns.name = None' gets rid of the column name "Attribute" entirely, and we are left with the transposes data frame where the planets are numerically indexed, and the following columns show their attributes.

# The new shape is (10, 21) and not (11, 20) because what would have been the row for planet names became a column during the transpose. Instead of being a data frame structured with numerical index with 

print(df.columns)
# 16 of the 21 columns have units. In order, these are mass (10^24 kg's), diameter (km), density (kg/m^3), gravity (m/s^2), 

# 5 of the 21 columns have units. In order, these are 

print(df)

(20, 11)
(10, 21)
Index(['Planet', 'Mass (10^24kg)', 'Diameter (km)', 'Density (kg/m^3)',
       'Gravity (m/s^2)', 'Escape Velocity (km/s)', 'Rotation Period (hours)',
       'Length of Day (hours)', 'Distance from Sun (10^6 km)',
       'Perihelion (10^6 km)', 'Aphelion (10^6 km)', 'Orbital Period (days)',
       'Orbital Velocity (km/s)', 'Orbital Inclination (deg)',
       'Orbital Eccentricity', 'Obliquity to Orbit (deg)',
       'Mean Temperature (C)', 'Surface Pressure (bars)', 'Number of Moons',
       'Ring System?', 'Global Magnetic Field?'],
      dtype='object')
    Planet Mass (10^24kg) Diameter (km) Density (kg/m^3) Gravity (m/s^2)  \
0  Mercury          0.330          4879             5429             3.7
1    Venus           4.87         12104             5243             8.9
2    Earth           5.97         12756             5514             9.8
3     Moon          0.073          3475             3340             1.6
4     Mars          0.642          6792             3934             3.7
5  Jupiter           1898        142984             1326            23.1
6   Saturn            568        120536              687             9.0
7   Uranus           86.8         51118             1270             8.7
8  Neptune            102         49528             1638            11.0
9    Pluto         0.0130          2376             1850             0.7

  Escape Velocity (km/s) Rotation Period (hours) Length of Day (hours)  \
0                    4.3                  1407.6                4222.6
1                   10.4                 -5832.5                2802.0
2                   11.2                    23.9                  24.0
3                    2.4                   655.7                 708.7
4                    5.0                    24.6                  24.7
5                   59.5                     9.9                   9.9
6                   35.5                    10.7                  10.7
7                   21.3                   -17.2                  17.2
8                   23.5                    16.1                  16.1
9                    1.3                  -153.3                 153.3

  Distance from Sun (10^6 km) Perihelion (10^6 km)  ... Orbital Period (days)  \
0                        57.9                 46.0  ...                  88.0
1                       108.2                107.5  ...                 224.7
2                       149.6                147.1  ...                 365.2
3                       0.384                0.363  ...                  27.3
4                       228.0                206.7  ...                 687.0
5                       778.5                740.6  ...                  4331
6                      1432.0               1357.6  ...                 10747
7                      2867.0               2732.7  ...                 30589
8                      4515.0               4471.1  ...                 59800
9                      5906.4               4436.8  ...                 90560

  Orbital Velocity (km/s) Orbital Inclination (deg) Orbital Eccentricity  \
0                    47.4                       7.0                0.206
1                    35.0                       3.4                0.007
2                    29.8                       0.0                0.017
3                     1.0                       5.1                0.055
4                    24.1                       1.8                0.094
5                    13.1                       1.3                0.049
6                     9.7                       2.5                0.052
7                     6.8                       0.8                0.047
8                     5.4                       1.8                0.010
9                     4.7                      17.2                0.244

  Obliquity to Orbit (deg) Mean Temperature (C) Surface Pressure (bars)  \
0                    0.034                  167                       0
1                    177.4                  464                      92
2                     23.4                   15                       1
3                      6.7                  -20                       0
4                     25.2                  -65                    0.01
5                      3.1                 -110                 Unknown
6                     26.7                 -140                 Unknown
7                     97.8                 -195                 Unknown
8                     28.3                 -200                 Unknown
9                    119.5                 -225                 0.00001

  Number of Moons Ring System? Global Magnetic Field?
0               0           No                    Yes
1               0           No                     No
2               1           No                    Yes
3               0           No                     No
4               2           No                     No
5              95          Yes                    Yes
6             274          Yes                    Yes
7              28          Yes                    Yes
8              16          Yes                    Yes
9               5           No                Unknown

[10 rows x 21 columns]

In [18]:
# 2.12 Investigate Data Types

print(df.dtypes)

for col in df:
    print(df[col].apply(type))

# 3. 
# a). All of the actual values are of the string class
# b). Storing numeric values as strings is a problem for data analysis because the computer will read the values as strings,
#     causing errors when trying to analyze the numeric meaning for the values, or when doing math with them.

# 2.1.3 Convert Strings to Numbers

skip_col = ["Planet", "Ring System?", "Global Magnetic Field?"]


for col in df.columns:
    if col in skip_col:
        continue
    df[col] = pd.to_numeric(df[col], errors = "coerce")

print(df.dtypes)

# What are the three different data types now in the Data Frame?
# The three different types currently being use are object, float64 and int64

# Define each one:
# The object type is
# The float64 type is
# The int64 type is

# The columns that are still object are "Planet", "Ring System?", and "Global Magnetic Field?" because they were made to skip the change to numeric values.

def attach_units():

Planet                         object
Mass (10^24kg)                 object
Diameter (km)                  object
Density (kg/m^3)               object
Gravity (m/s^2)                object
Escape Velocity (km/s)         object
Rotation Period (hours)        object
Length of Day (hours)          object
Distance from Sun (10^6 km)    object
Perihelion (10^6 km)           object
Aphelion (10^6 km)             object
Orbital Period (days)          object
Orbital Velocity (km/s)        object
Orbital Inclination (deg)      object
Orbital Eccentricity           object
Obliquity to Orbit (deg)       object
Mean Temperature (C)           object
Surface Pressure (bars)        object
Number of Moons                object
Ring System?                   object
Global Magnetic Field?         object
dtype: object
0    <class 'str'>
1    <class 'str'>
2    <class 'str'>
3    <class 'str'>
4    <class 'str'>
5    <class 'str'>
6    <class 'str'>
7    <class 'str'>
8    <class 'str'>
9    <class 'str'>
Name: Planet, dtype: object
0    <class 'str'>
1    <class 'str'>
2    <class 'str'>
3    <class 'str'>
4    <class 'str'>
5    <class 'str'>
6    <class 'str'>
7    <class 'str'>
8    <class 'str'>
9    <class 'str'>
Name: Mass (10^24kg), dtype: object
0    <class 'str'>
1    <class 'str'>
2    <class 'str'>
3    <class 'str'>
4    <class 'str'>
5    <class 'str'>
6    <class 'str'>
7    <class 'str'>
8    <class 'str'>
9    <class 'str'>
Name: Diameter (km), dtype: object
0    <class 'str'>
1    <class 'str'>
2    <class 'str'>
3    <class 'str'>
4    <class 'str'>
5    <class 'str'>
6    <class 'str'>
7    <class 'str'>
8    <class 'str'>
9    <class 'str'>
Name: Density (kg/m^3), dtype: object
0    <class 'str'>
1    <class 'str'>
2    <class 'str'>
3    <class 'str'>
4    <class 'str'>
5    <class 'str'>
6    <class 'str'>
7    <class 'str'>
8    <class 'str'>
9    <class 'str'>
Name: Gravity (m/s^2), dtype: object
0    <class 'str'>
1    <class 'str'>
2    <class 'str'>
3    <class 'str'>
4    <class 'str'>
5    <class 'str'>
6    <class 'str'>
7    <class 'str'>
8    <class 'str'>
9    <class 'str'>
Name: Escape Velocity (km/s), dtype: object
0    <class 'str'>
1    <class 'str'>
2    <class 'str'>
3    <class 'str'>
4    <class 'str'>
5    <class 'str'>
6    <class 'str'>
7    <class 'str'>
8    <class 'str'>
9    <class 'str'>
Name: Rotation Period (hours), dtype: object
0    <class 'str'>
1    <class 'str'>
2    <class 'str'>
3    <class 'str'>
4    <class 'str'>
5    <class 'str'>
6    <class 'str'>
7    <class 'str'>
8    <class 'str'>
9    <class 'str'>
Name: Length of Day (hours), dtype: object
0    <class 'str'>
1    <class 'str'>
2    <class 'str'>
3    <class 'str'>
4    <class 'str'>
5    <class 'str'>
6    <class 'str'>
7    <class 'str'>
8    <class 'str'>
9    <class 'str'>
Name: Distance from Sun (10^6 km), dtype: object
0    <class 'str'>
1    <class 'str'>
2    <class 'str'>
3    <class 'str'>
4    <class 'str'>
5    <class 'str'>
6    <class 'str'>
7    <class 'str'>
8    <class 'str'>
9    <class 'str'>
Name: Perihelion (10^6 km), dtype: object
0    <class 'str'>
1    <class 'str'>
2    <class 'str'>
3    <class 'str'>
4    <class 'str'>
5    <class 'str'>
6    <class 'str'>
7    <class 'str'>
8    <class 'str'>
9    <class 'str'>
Name: Aphelion (10^6 km), dtype: object
0    <class 'str'>
1    <class 'str'>
2    <class 'str'>
3    <class 'str'>
4    <class 'str'>
5    <class 'str'>
6    <class 'str'>
7    <class 'str'>
8    <class 'str'>
9    <class 'str'>
Name: Orbital Period (days), dtype: object
0    <class 'str'>
1    <class 'str'>
2    <class 'str'>
3    <class 'str'>
4    <class 'str'>
5    <class 'str'>
6    <class 'str'>
7    <class 'str'>
8    <class 'str'>
9    <class 'str'>
Name: Orbital Velocity (km/s), dtype: object
0    <class 'str'>
1    <class 'str'>
2    <class 'str'>
3    <class 'str'>
4    <class 'str'>
5    <class 'str'>
6    <class 'str'>
7    <class 'str'>
8    <class 'str'>
9    <class 'str'>
Name: Orbital Inclination (deg), dtype: object
0    <class 'str'>
1    <class 'str'>
2    <class 'str'>
3    <class 'str'>
4    <class 'str'>
5    <class 'str'>
6    <class 'str'>
7    <class 'str'>
8    <class 'str'>
9    <class 'str'>
Name: Orbital Eccentricity, dtype: object
0    <class 'str'>
1    <class 'str'>
2    <class 'str'>
3    <class 'str'>
4    <class 'str'>
5    <class 'str'>
6    <class 'str'>
7    <class 'str'>
8    <class 'str'>
9    <class 'str'>
Name: Obliquity to Orbit (deg), dtype: object
0    <class 'str'>
1    <class 'str'>
2    <class 'str'>
3    <class 'str'>
4    <class 'str'>
5    <class 'str'>
6    <class 'str'>
7    <class 'str'>
8    <class 'str'>
9    <class 'str'>
Name: Mean Temperature (C), dtype: object
0    <class 'str'>
1    <class 'str'>
2    <class 'str'>
3    <class 'str'>
4    <class 'str'>
5    <class 'str'>
6    <class 'str'>
7    <class 'str'>
8    <class 'str'>
9    <class 'str'>
Name: Surface Pressure (bars), dtype: object
0    <class 'str'>
1    <class 'str'>
2    <class 'str'>
3    <class 'str'>
4    <class 'str'>
5    <class 'str'>
6    <class 'str'>
7    <class 'str'>
8    <class 'str'>
9    <class 'str'>
Name: Number of Moons, dtype: object
0    <class 'str'>
1    <class 'str'>
2    <class 'str'>
3    <class 'str'>
4    <class 'str'>
5    <class 'str'>
6    <class 'str'>
7    <class 'str'>
8    <class 'str'>
9    <class 'str'>
Name: Ring System?, dtype: object
0    <class 'str'>
1    <class 'str'>
2    <class 'str'>
3    <class 'str'>
4    <class 'str'>
5    <class 'str'>
6    <class 'str'>
7    <class 'str'>
8    <class 'str'>
9    <class 'str'>
Name: Global Magnetic Field?, dtype: object
Planet                          object
Mass (10^24kg)                 float64
Diameter (km)                    int64
Density (kg/m^3)                 int64
Gravity (m/s^2)                float64
Escape Velocity (km/s)         float64
Rotation Period (hours)        float64
Length of Day (hours)          float64
Distance from Sun (10^6 km)    float64
Perihelion (10^6 km)           float64
Aphelion (10^6 km)             float64
Orbital Period (days)          float64
Orbital Velocity (km/s)        float64
Orbital Inclination (deg)      float64
Orbital Eccentricity           float64
Obliquity to Orbit (deg)       float64
Mean Temperature (C)             int64
Surface Pressure (bars)        float64
Number of Moons                  int64
Ring System?                    object
Global Magnetic Field?          object
dtype: object